.login{
    margin-top: 60%;
}

body{
    background-color: beige;
}

.disabled-link{
    cursor: default;
    pointer-events: none;        
    text-decoration: none;
    color: grey;
}

.header{
    display: grid;
    height: 60px;
    margin-bottom: 10px;
}

.header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu ul{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    
}

.menu li{
    list-style-type: none;
    margin-right: 10px;
    font-size: 12px;
}

.card .image{
    cursor: pointer;
}

.breed-spinner{
    margin-top: 50%;
}

.message-error{
    margin-top: 10%;
}

@media(max-width:425px){
    .header-content{
        padding: 0;
    }
}

@media(min-width:375px){
    .login{
        margin-top: 45%;
    }
}

@media(min-width:425px){
    .login{
        margin-top: 45%;
    }

}

@media(min-width:768px){
    .login{
        margin-top: 25%;
    }

    .header-content .title{
        font-size: 30px;
    }

    .menu li{
        font-size: 15px;
    }

    .form-login{
        width: 70%;
    }

    .breed-spinner{
        margin-top: 20%;
    }
}

@media(min-width:1024px){
    .login{
        margin-top: 15%;
    }

    .header{
        height: 70px;
    }

    .form-login{
        width: 50%;
    }
}
